[Unit]
Description=Gunicorn server for 47.111.64.105

[Service]
Restart=on-failure
User=elemi
WorkingDirectory=/home/elemi/sites/47.111.64.105/source
ExecStart=/home/elemi/sites/47.111.64.105/virtualenv/bin/gunicorn --bind unix:/tmp/47.111.64.105.socket superlists.wsgi:application

[Install]
WantedBy=multi-user.target
